.background {
  background-image: url('./../../assets/hero.jpg');
  background-position: center center;
  height: 70vh;
  background-size: cover;
}

.title {
  margin-bottom: 0 !important;
}

.inner {
  height: 100%;
  display: flex;
  align-items: center;
}

.opacity {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

@media (max-width: 768px) {
  .inner {
    flex-direction: column;
    justify-content: center;
  }
}
